*,
*:before,
*:after {
    font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Variables */
:root {
    --gold: #ad976e;
    --brown: #1a1613;
}

html,
body,
label {
    font-weight: 300;
}

body {
    margin: 0;
    background: #000;
    font-weight: 400;
}

strong {
    font-weight: 700;
}

a {
    color: var(--gold);
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--gold);
}

/*video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s opacity;
    z-index: 1;
}*/

.mobile-navigation {
    width: 100%;
    background: var(--brown);
    padding: 10px 0 0;
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-bottom: 20px;
}

.mobile-navigation__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 1;
    z-index: calc(99999 + 1);
    overflow: hidden;
    cursor: pointer;
    display: none !important;
}

.mobile-navigation__close.toggled .mobile-navigation__close--closed,
.mobile-navigation__close .mobile-navigation__close--open {
    display: none;
}

.mobile-navigation__close.toggled .mobile-navigation__close--open {
    display: block;
}

.mobile-navigation__close.toggled .mobile-navigation ul.toggled {
    height: 0;
}

.mobile-navigation__close .mobile-navigation ul {
    height: auto;
}

.mobile-navigation__close svg,
.mobile-navigation__close img {
    width: 100%;
}

.mobile-navigation__close--open,
.mobile-navigation__close--closed {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.mobile-navigation .logo-wrapper {
    margin-bottom: 0;
}

.mobile-navigation ul.toggled {
    height: 0;
}

.mobile-navigation ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mobile-navigation li {
    list-style: none;
}

.mobile-navigation a {
    margin: auto;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.mobile-navigation a:hover,
.mobile-navigation a:focus {
    color: var(--gold);
    background-color: #252421;
}

.navigation {
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
}

.navigation ul {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    /*justify-content: center;*/
    justify-content: space-between;
    margin: 0;
}

.navigation li {
    color: white;
    list-style: none;
    padding: 0 10px;
}

.navigation li a {
    color: white;
    text-decoration: none;
}

.navigation li:hover a,
.navigation li:focus a {
    color: var(--gold);
    text-decoration: none;
}

.page-content {
    background: url(../images/bg-blurred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: first baseline;
    flex-flow: row wrap;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.background-image {
    background-image: url(../images/bg-blurred.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.title {
    color: var(--gold);
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.header {
    color: var(--gold);
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.2;
}

.copy {
    color: white;
    font-weight: 300;
    font-size: 25px;
}

.copy a:hover,
.copy a:focus {
    background-color: var(--gold);
    color: white;
}

.small-p {
    margin-bottom: 5px;
}

.tiny-p {
    margin: 1rem auto -10px;
    font-size: 0.75rem;
    text-align: center;
}

.tiny-p a {
    color: var(--gold);
}

.top-container {
    margin-bottom: 18vh;
}

.container__error .header,
.container__success .header {
    text-align: center;
    line-height: 1;
    margin-bottom: 30px;
}

.container__success {
    background-color: white;
    padding: 30px;
    box-shadow:
        /* The top layer shadow */
        0 -1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */
        0 -10px 0 -5px #eee,
        /* The second layer shadow */
        0 -10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */
        0 -20px 0 -10px #eee,
        /* The third layer shadow */
        0 -20px 1px -9px rgba(0, 0, 0, 0.15);
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.container__error .checkcircle-wrapper {
    margin: auto;
}

.container__error {
    /*text-align: center;*/
}

.container__error--wrapper,
.container__error--wrapper::before,
.container__error--wrapper::after {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.container__error--wrapper::before,
.container__error--wrapper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #fff;
}

.container__error--wrapper::before {
    right: -9px;
    top: 2px;
    transform: rotate(-1deg);
    z-index: -1;
}

.container__error--wrapper::after {
    top: 5px;
    right: -5px;
    transform: rotate(1.5deg);
    z-index: -2;
}

.container__error--wrapper {
    padding: 40px;
}

.container__error p.copy,
.container__success p.copy {
    color: #444;
    font-size: 20px;
}

.container {
    color: white;
    margin-bottom: 70px;
}

.container h1 {
    color: var(--gold);
    margin-bottom: 30px;
}

.cta-button {
    text-align: center;
    max-width: 300px;
    margin: 40px auto;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.0525rem;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-content {
    justify-content: space-between;
}

.content-center {
    text-align: center;
}

.content-center p {
    margin: 0 auto 10px;
    font-size: 1.2rem;
    color: var(--gold);
}

.cta-button a {
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid white;
    text-decoration: none;
}

.cta-button a:hover,
.cta-button a:focus {
    background-color: color: var(--gold);
    border-color: color: var(--gold);
}

form {
    padding: 30px;
    background: rgba(44, 44, 44, 0.85);
    border-radius: 6px;
    color: white;
}

.paypal-container__content {
    text-align: center;
    margin-bottom: 1rem;
}

.paypal-container__content--inner {
    margin-top: 20px;
}

.label {
    font-size: 1.1rem;
}

.logo {
    margin: auto;
    width: 160px;
}

.logo img {
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    outline: 0;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    margin: 0 0 1rem;
    padding: 10px;
    line-height: 1.8;
    border: 0;
    border-radius: 3px;
    letter-spacing: 0.0225rem;
}

input.user_name.left {
    margin-right: 1%;
}

input.user_name.right {
    margin-left: 1%;
}

input.user_name {
    width: 48%;
    display: inline-block;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    font-weight: 300;
}

select {
    padding: 10px;
    border-radius: 2px;
}

button,
input[type="button"] {
    padding: 19px 20px 18px 20px;
    color: white;
    background-color: var(--gold);
    border: none;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
    line-height: 1rem;
}

.checkcircle-wrapper {
    max-width: 150px;
}

.checkcircle {
    margin: 0 auto 20px;
    max-width: 150px;
}

.checkcircle img,
.checkcircle svg {
    width: 100%;
}

.field {
    display: block;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.field label {
    display: block;
    line-height: 2;
    margin: 0;
    cursor: pointer;
}

.field label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 0;
    border-radius: 3px;
}

.field input.input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.field input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: 9px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

label.light {
    font-weight: 300;
    display: inline;
}

.links {
    padding: 10px 0 0;
}

.links a {
    color: white;
    font-size: 14px;
    text-align: center;
}

.links .col {
    padding: 0 calc(15px / 2);
    text-align: center;
}

.number {
    background-color: #5fcf80;
    color: white;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    color: white;
    padding: 10px;
    font-size: 12px;
    background-color: var(--brown);
}

.footer .row {
    text-align: center;
    margin: 5px auto;
    width: 100%;
    max-width: 1200px;
    padding-left: 45px;
}

.footer-copyright {
    width: 20%;
    text-align: left;    
}

.footer-nav-item {
    width: 20%;
}

.footer span {
    opacity: 0.4;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover,
.footer a:focus {
    color: var(--gold);
}

.footer:hover span,
.footer:focus span {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .logo-wrapper {
        margin-bottom: 40px;
    }

    .header {
        text-align: center;
    }

    .copy {
        text-align: center;
    }
    
    .container {
        margin-bottom: 0;
    }

    .footer {
        position: relative;
    }

    .footer-copyright {
        width: 100%;
        text-align: center;
    }

    .footer .row {
        padding-left: 0;
        display: block;
    }

    .footer-nav-item {
        display: inline-block;
        width: auto;
        margin: 10px 8px;
    }

    .align-center img,
    .align-center iframe {
        margin-bottom: 20px;
    }

    .newsletter-signup {
        margin-top: 2rem;
    }

    .navigation {
        display: none;
    }
    .mobile-nav-item {
        display: inline-block;
        text-align: center;
        margin: 0 2%;
    }
    .mobile-nav-list {
        text-align: center;
    }
    .mobile-nav-list:after {
        content: "";
        display: table;
        clear: both;
    }
    .mobile-navigation ul a {
        padding: 10px 5px;
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 768px) {
    .mobile-navigation {
        display: none;
    }

    .background-image,
    .page-content {
        background-attachment: fixed;
    }
}
